body {
    margin:0px;
    padding:0px;
    display: block;
    font-family: 'Assistant', sans-serif;
    }

.unit {
    width:100%;
    }

.text-1 {
    padding-bottom: 20px;
    color:#c8553d;
    font-size:48px;
    font-family:'Assistant', sans-serif;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    text-decoration: none;
    }

.text-2 {
    color:#c8553d;
    font-size:36px;
    font-family:'Assistant', sans-serif;
    font-weight: 700;
    }

.text-3 {
    color:#403D39;
    font-size:24px;
    font-family:'Assistant', sans-serif;
    font-weight: normal;
    line-height: 1.4;
    }

.text-4 {
    color:#403D39;
    font-size:18px;
    font-family:'Assistant', sans-serif;
    font-weight: normal;
    line-height: 1.7;
    }

.text-4-link {
    color:#c8553d;
    font-size:18px;
    font-family:'Assistant', sans-serif;
    font-weight: normal;
    line-height: 1.7;
    text-decoration: none;
    }

.text-5 {
    color:#403D39;
    font-size:14px;
    font-family:'Assistant', sans-serif;
    font-weight: normal;
    text-align: left;
    }

.text-1:hover {
    color:#738290;
    }

.text-4-link:hover {
    color:#738290;
    }

.text-4-link-selected {
    color:#738290;
    font-size:18px;
    font-family:'Assistant', sans-serif;
    font-weight: normal;
    line-height: 1.7;
    text-decoration: none;
    }

.text-overlay {
    color:#eaf2e3;
    }

/*
------------------------------------------------------------------------
SMARTPHONE
------------------------------------------------------------------------
*/

@media (max-width: 400px) {

.content {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    border-style: solid;
    border-width: 15px;
    border-color: #eaf2e3;
    }

.menu {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    padding-left: 50px;
    padding-right: 50px;
    }

.content-edges {
    margin-left:auto;
    margin-right:auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 40px;
    }

.content-slice-top {
    margin-left:auto;
    margin-right:auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-width: 15px;
    border-color: #eaf2e3;
    }

.content-slice-middle {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #C66B59;
    }

.content-slice-bottom {
    margin-left:auto;
    margin-right:auto;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: 15px;
    border-color: #eaf2e3;
    }

.content-slice-image {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    display: block;
    }

.unit-top {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left:auto;
    margin-right:auto;
    }

.unit-middle {
    margin-bottom: 50px;
    margin-left:auto;
    margin-right:auto;
    }

.unit-bottom {
    margin-bottom: 50px;
    margin-left:auto;
    margin-right:auto;
    }

.text-1 {
    font-size:48px;
    padding-bottom: 15px;
      }

.text-2 {
    font-size:24px;
    padding-bottom: 5px;
    }

.text-3 {
        font-size:21px;
    }

.bottom-links {
    padding-bottom: 15px;
    }

.bottom-links-align {
    padding-right: 15px;
    display:inline-block;
    }

}



/*
------------------------------------------------------------------------
TABLET
------------------------------------------------------------------------
*/

@media (min-width: 401px) and (max-width: 1000px) {

.content {
    width:60%;
    margin-left:auto;
    margin-right:auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-style: solid;
    border-width: 20px;
    border-color: #eaf2e3;
    }

.menu {
    width:60%;
    margin-left:auto;
    margin-right:auto;
    padding-left: 50px;
    padding-right: 50px;
    }

.content-edges {
    width:60%;
    margin-left:auto;
    margin-right:auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    }

.content-slice-top {
    width:60%;
    margin-left:auto;
    margin-right:auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-width: 20px;
    border-color: #eaf2e3;
    }

.content-slice-middle {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #C66B59;
    }

.content-slice-bottom {
    width:60%;
    margin-left:auto;
    margin-right:auto;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: 20px;
    border-color: #eaf2e3;
    }

.content-slice-image {
    width: 60%;
    margin-left:auto;
    margin-right:auto;
    display: block;
    }

.unit-top {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left:auto;
    margin-right:auto;
    }

.unit-middle {
    margin-bottom: 100px;
    margin-left:auto;
    margin-right:auto;
    }

.unit-bottom {
    margin-bottom: 100px;
    margin-left:auto;
    margin-right:auto;
    }

.bottom-links {
    padding-bottom: 20px;
    }

.bottom-links-align {
    padding-right: 20px;
    display:inline-block;
    }

}



/*
------------------------------------------------------------------------
DESKTOP
------------------------------------------------------------------------
*/

@media (min-width: 1001px) {

.content {
    width:40%;
    margin-left:auto;
    margin-right:auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-style: solid;
    border-width: 20px;
    border-color: #eaf2e3;
    }

.menu {
    width:40%;
    margin-left:auto;
    margin-right:auto;
    padding-left: 50px;
    padding-right: 50px;
    }

.content-edges {
    width:40%;
    margin-left:auto;
    margin-right:auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    }

.content-slice-top {
    width:40%;
    margin-left:auto;
    margin-right:auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-width: 20px;
    border-color: #eaf2e3;
    }

.content-slice-middle {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #C66B59;
    }

.content-slice-bottom {
    width:40%;
    margin-left:auto;
    margin-right:auto;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: 20px;
    border-color: #eaf2e3;
    }

.content-slice-image {
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    display: block;
    }

.unit-top {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left:auto;
    margin-right:auto;
    }

.unit-middle {
    margin-bottom: 100px;
    margin-left:auto;
    margin-right:auto;
    }

.unit-bottom {
    margin-bottom: 100px;
    margin-left:auto;
    margin-right:auto;
    }

.bottom-links {
    padding-bottom: 20px;
    }

.bottom-links-align {
    padding-right: 20px;
    display:inline-block;
    }

}
